body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

.nav-bar {
    background-color: black; 
    color:whitesmoke; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    border-bottom: solid white ;
}
.nav-bar a{
    color: white;
    text-decoration: none;
}
.nav-logo h1 {
    margin: 0; 
    font-size: 24px; 
}

.nav-list ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
}

.nav-list ul li {
    margin-right: 20px; 
    cursor: pointer; 
}

.nav-buttons {
    display: flex; 
    align-items: center; 
}

.login-btn{
    background-color: rgb(0, 0, 0); 
    color:rgb(255, 255, 255); 
    padding: 8px 16px; 
    border: solid white; 
    border-radius: 10px; 
    margin-right: 10px; 
    cursor: pointer; 
}
.register-btn {
    background-color: rgb(0, 0, 0); 
    color:rgb(255, 255, 255); 
    padding: 8px 10px; 
    border: solid white; 
    border-radius: 10px; 
    margin-right: 10px; 
    cursor: pointer; 
}
.login-btn a,
.register-btn a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.login-btn:hover,
.register-btn:hover {
    background-color: white;
    color: black; 
}
.login-btn a:hover,
.register-btn a:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    .nav-bar {
        flex-direction: column; 
        padding: 10px; 
    }

    .nav-list ul {
        flex-direction: column; 
        text-align: center;
    }

    .nav-list ul li {
        margin-top:10px;
        margin-right: 0;
        margin-bottom: 10px; 
    }

    .nav-buttons {
        margin-top: 10px; 
    }

    .login-btn,
    .register-btn {
        margin-right: 10px; 
        margin-bottom: 10px; 
    }
    
}


/* -----------------------------part2--------------------------------- */
.part2 {
    position: relative; 
    height: 91.5vh; 
    overflow: hidden; 
}

.bg-video {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1; 
}

.content {
    position: relative; 
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke; 
}

.main-line {
    font-size: 4em; 
}

.slogan {
    margin: 20px 0; 
    font-size: 2em;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0;
}

